#show_img{
  width: 100%;
  height: 100%;
  border-radius: 25px;
  user-select: none;
  outline: none;
}
#managerholder{
  z-index: 1;
  float:right;
}
::placeholder { 
  color: white;
  font-size:1.5vw;
  font-style: italic;
  user-select: none;
  text-align: left;
}
:-ms-input-placeholder { 
  color: white;
  font-size:1.5vw;
  font-style: italic;
  user-select: none;
  text-align: left;
}

::-ms-input-placeholder { 
  color: white;
  font-size:1.5vw;
  font-style: italic;
  user-select: none;
  text-align: left;
}
#tags{
  color:white;
  font-size: 2vw;
  font-family: 'Russo One', sans-serif;
  border-radius: 20px;
  background:transparent;
  width: 30%;
  min-height: 60px;
  transition: ease 0.4s;
  border:4px solid white;
  outline:0;
  padding-left:20px;
  margin:20px;
}
#tags:hover{
  background-color:rgba(233, 177, 32, 0.8);
}
#tags:focus{
  background-color:rgba(233, 177, 32, 0.8);
}
#search_input:hover{
  background-color:rgba(233, 177, 32, 0.8);
}
#phpmanager_holder{
  display: block;
  margin: auto;
  margin-top:15%;
  min-width: 80%;
  max-width: 90%;
  max-height: 50%;
  overflow: hidden;
  overflow-y: scroll;
  background-color: rgba(67, 6, 99, 0.75);
  border: 4px solid white;
  border-radius: 15px;
  z-index: 1;
}
.przyciski{
  display: inline-block;
  cursor: pointer;
  color:white;
  font-size:1.6vw;
  font-family: 'Russo One', sans-serif;
  padding:10px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  outline:0;
  border:2px solid white;
  border-right: 0;
  text-align: center;
  user-select: text;
  transition: ease 0.4s;
  overflow: hidden;
  background: transparent;
  min-width: 35%;
}
.przyciski:hover{
  background-color:rgba(233, 177, 32, 0.8);
}
.przyciski:focus{
  background-color: rgba(64, 128, 64, 0.8);
}
.przyciski:focus ~ .del_btn{
  background-color: rgba(64, 128, 64, 0.8);
}
.przyciski:focus ~ .down_btn{
  background-color: rgba(64, 128, 64, 0.8);
}
.przyciski:focus ~ .img_btn{
  background-color: rgba(64, 128, 64, 0.8);
}
.przyciski:focus ~ .video_btn{
  background-color: rgba(64, 128, 64, 0.8);
}
.przyciski:focus ~ .del_btn{
  background-color: rgba(64, 128, 64, 0.8);
}

.trzymacz_przyciski{
  display: block;
  white-space: nowrap;
  outline: 0;
  text-align: left;
  margin-bottom:15px;

}
.down_btn,.del_btn,.img_btn,.video_btn{
  cursor: pointer;
  display: inline-block;
  color:white;
  font-size:1.6vw;
  font-family: 'Russo One', sans-serif;
  padding:10px;
  background: transparent;
  outline: 0;
  transition: ease 0.4s;
  border:2px solid white;
  min-width: 15%;
}
.img_btn,.video_btn{
  border-left: 0;
  border-right: 0;
}
.del_btn{
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-right: 2px solid white;
  }
.down_btn:hover,.del_btn:hover,.img_btn:hover,.video_btn:hover{
  background-color:rgba(233, 177, 32, 0.8);
}
#buttons{
  min-width: 140px;
  text-align: center;
  overflow: hidden;
  padding: 5px;
}
.file{
  width: 100%;
  height: 100%;
  position: relative;
  background: transparent;
  outline: 0;
}
#filename_label{
  color: white;
  font-size: 1.2vw;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  white-space: nowrap;
}
#submit_btn{
  cursor: pointer;
  width: 100%;
  height: 80px;
  display: block;
  color:white;
  font-weight: bold;
  font-size:1.4vw;
  font-family: 'Russo One', sans-serif;
  background: transparent;
  user-select: none;
  border: 0;
  outline: 0;
  padding-top:10px;
  white-space: nowrap;
}
#fileholder{
  display: block;
}
.file input[type="file"]{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.file span{
  text-align: center;
  font-size: 3vw;
  color: #FFF;
  color: #FFF;
}

.file span:before{
  content: "\01F4C1";
}

.file:hover span:before{
  content: "\01F4C2";
}
#updatelogo_holder{
  position: fixed;
  right: 0;
  bottom:-10px;
  width: 15%;
  cursor: pointer;
  float: right;
  border-top-left-radius: 25px;
  border: 3px solid white;
  border-right: 0;
  background: #142866;
  color:white;
  font-weight: bold;
  font-size:30px;
  font-family: 'Russo One', sans-serif;
  outline: 0;
  transition: ease 0.5s;
  user-select: none;
  overflow: hidden;
  z-index: 1;
  padding-right: 15px;
}
#updatelogo_holder:hover{
  background-color:rgba(233, 177, 32, 0.9);
}