html,body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
body{
	overflow-y:scroll;
}
::-webkit-scrollbar {
  width: 25px;
}

::-webkit-scrollbar-track {
	background:white;
  box-shadow: inset 0 0 5px black; 
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 20px;
}
::selection {
    background-color: rgba(233, 177, 32, 0.9);
    color: white;
}
#koleszka{
	position: fixed;
	left: 0;
	bottom:-10px;
	min-width: 140px;
	min-height: 100px;
	max-height: 21%;
	max-width: 23%;
	cursor: pointer;
	z-index: 100;
}
#menu{
	position: fixed;
	top:0;
	left:0;
	overflow: hidden;
	width: 100%;
	padding-right: 25px;
	text-align: left;
	border-bottom:2px solid white;
	box-shadow: 5px 5px 10px white;
	background: rgba(20, 40, 102, 0.8);
	user-select: none;
  -ms-user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
        transition: ease 0.5s;
        z-index:2;
        white-space: nowrap;
}
.przycisk{
	cursor: pointer;
	display:inline-block;
	min-width: 15%;
	min-height: 50px;
	margin-top:3%;
	transition: ease 0.4s;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	background-color: rgba(0,0,0,0.6);
	margin-right: 1%;
	border: 2px solid white;
	border-bottom: 0;
	outline:0;
	user-select: none;
  -ms-user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
        color:white;
	font-weight: bold;
	font-size:1.9vw;
	font-family: 'Oswald', sans-serif;
}
.przycisk:hover{
	background-color:rgba(233, 177, 32, 0.8);
	transform: scale(1.1);
}
@media only screen and (max-width : 760px) {
  #koleszka{
	display: none;
}
#menu{
	position: absolute;
}
.przycisk{
	font-size:20px;
}
}
#tlo{
	position: fixed;
	top:0;
	left:0;
	height: 100%;
	width: 100%;
	background-attachment: fixed;
	background-image: url("../images/background.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	z-index: -1;
}
#footer{
	position: absolute;
	bottom: -40%;
	width: 100%;
	border-top: 4px solid white;
	text-align: left;
	user-select: none;
	outline: 0;
	margin-top:200px;
	z-index: 0;
	text-align: center;
}
#footer label{
	display: block;
	color:white;
	font-family: 'Russo One', sans-serif;
	font-size: 2.1vw;
	user-select: none;
	outline: 0;
}
#footer a{
	display: block;
	color:white;
	font-family: 'Oswald', sans-serif;
	font-size: 1.7vw;
	padding: 10px;
	user-select: none;
	outline: 0;
}
#footer_holder{
}