#tlo{
	position: fixed;
	top:0;
	left:0;
	height: 100%;
	width: 100%;
	background-attachment: fixed;
	background-image: url("../images/background.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	z-index: -1;
}
.mediathings{
	position: absolute;
	left:8%;
	top:8%;
	min-width: 80%;
	max-width: 95%;
	border: 0;
	user-select: none;
	outline: 0;
	background: white;
}
#show_img{
	width: 100%;
	height: 100%;
}