#holder{
	min-width: 600px;
	min-height: 400px;
	position: absolute;
	left:25%;
	top:25%;
	background-color:rgba(67, 6, 99, 0.4);
	text-align: center;
	border-radius: 25px;
	outline: 0;
	border: 2px solid white;
	user-select: none;
}
#holder_label{
	display: block;
	color:white;
	font-size:34px;
	font-family: 'Russo One', sans-serif;
	padding: 20px;
	margin-bottom: 25px;
	user-select: none;
}
.pass_in{
	display: block;
	width: 70%;
	height: 15%;
	color:white;
	margin:auto;
	margin-top:8%;
	font-size:30px;
	outline: 0;
	border: 2px solid white;
	border-radius: 25px;
	background-color:rgba(67, 6, 99, 0.1);
	font-family: 'Oswald', sans-serif;
	padding:15px;
	transition: ease 0.4s;
	user-select: none;
}
.pass_in:hover{
	background-color:rgba(233, 177, 32, 0.8);
}
.pass_in:focus{
	background-color:rgba(233, 177, 32, 0.8);
}
::placeholder{
	color: white;
	font-size: 22px;
	font-family: 'Oswald', sans-serif;
}
#setpass_btn{
	display: block;
	width: 40%;
	height: 20%;
	color:white;
	font-size:32px;
	font-family: 'Russo One', sans-serif;
	margin:auto;
	margin-top:5%;
	margin-bottom:5%;
	border-radius: 25px;
	background: transparent;
	outline:0;
	border:2px solid white;
	transition: ease 0.4s;
	cursor: pointer;
	padding: 15px;
	user-select: none;
}
#setpass_btn:hover{
	background-color:rgba(233, 177, 32, 0.8);
}
.photo_i {
  	width: 100%;
  	height: 100%;
  	transition: ease 0.5s;
}
.container{
	display: block;
	cursor: pointer;
	position: absolute;
	height: 32px;
	width: 32px;
	right:160px;
	transform: translateX(60px) translateY(-50px);
	transition: ease 0.4s;
}
.container:hover .tool-tip{
	top: -120px;
      transition: all 0.4s cubic-bezier(1, 0, 0.4, 1.7);
      transform: translateX(-50%) scale(1); 
}
.container:before{
	display: block;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 3px;
      background-color: #D42111;
      transition: all 0.2s ease-out;
}
.tool-tip{
	 width: 180px;
  height: 80px;
  position: absolute;
  top: -60px;
  left: 50%;
  border-radius: 50px;
  background-color: rgba(67, 6, 99, 1);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
  padding-top:15px;
  padding-bottom: 12px;
  color: #FFF;
  text-align: center;
  transform: translateX(-50%) scale(0);
  transform-origin: bottom center;
  transition: all 0.4s cubic-bezier(1, 0, 0.4, 1);
}
.tool-tip:after{
	 width: 0; 
  	height: 0; 
	  border-left: 10px solid transparent;
	  border-right: 10px solid transparent;
	  border-top: 10px solid rgba(67, 6, 99, 1);
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
}