html,body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
body{
	overflow-x:hidden;
	overflow-y:scroll;
}
::-webkit-scrollbar {
  width: 25px;
}

::-webkit-scrollbar-track {
	background:white;
  box-shadow: inset 0 0 5px black; 
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: #E7CA55; 
  border-radius: 20px;
}
::selection {
    background-color: rgba(233, 177, 32, 0.9);
    color: white;
}
#tlo{
	position: fixed;
	top:0;
	left:0;
	height: 100%;
	width: 100%;
	background-attachment: fixed;
	background-image: url("../images/background.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	z-index: -1;
}
#welcomel{
	display:block;
	color:white;
	font-size:90px;
	font-family: 'Russo One', sans-serif;
	letter-spacing: 5px;
	user-select: none;
  -ms-user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;   
}
.holder{
	position: absolute;
	left:20%;
	top:15%;
	padding:30px;
	border:2px solid white;
	background:rgba(233, 177, 32, 0.4);
	margin:0 120px 120px 120px;
	border-radius:25px;
	outline:0;
	-webkit-box-shadow: 2px 2px 6px 4px rgba(255,255,255,1);
-moz-box-shadow: 2px 2px 6px 4px rgba(255,255,255,1);
box-shadow: 2px 2px 6px 4px rgba(255,255,255,1);
}
#holder_pom{
	display: block;
	height: 60%;
	text-align:center;
}
.wejscie{
	height: 100px;
	width: 600px;
	border-radius: 20px;
	margin-top:40px;
	outline:0;
	padding-left:40px;
	padding-top:15px;
	border:2px solid white;
	font-size:40px;
	background-color:rgba(67, 6, 99, 0.1);
	color:white;
	transition: ease 0.4s;
	user-select: none;
}
.wejscie:hover{
	background-color:rgba(67, 6, 99, 0.2);
}
.wejscie:focus{
	background-color:rgba(67, 6, 99, 0.5);
	transform: scale(1.1);
	border: 4px solid white;
	
}
.wejscie::-ms-reveal{
	display: none;
}
#pom_input{
	width: 0px;
	height: 0px;
	border:0;
	outline:0;
	  user-select: none;
  -ms-user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
        z-index: -5;
}
#submit_btn{
	cursor: pointer;
	display: inline-block;
	width: 300px;
	height: 100px;
	margin-left:100px;
	margin-top:40px;
	margin-right: 60px;
	margin-bottom:20px;
	border-radius:20px;
	outline:0;
	transition: ease 0.4s;
	border: 3px solid white;
	background-color:rgba(67, 6, 99, 0.1);
	color:white;
	font-size: 60px;
	font-family: 'Oswald', sans-serif;
	transform: scale(1);
	user-select: none;
  -ms-user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
}
#trzymacz_pom{
	display: block;
}
#submit_btn:hover{
	background-color:rgba(67, 6, 99, 0.5);
	transform: scale(1.1);
}
#errorl{
	border: 2px solid rgba(255, 0, 0, 0.4);
	border-radius:35px;
	padding:15px;
	transition: ease 1s;
	display: inline-block;
	font-size: 30px;
	text-align: center;
	margin-bottom: 8%;
	color:white;
	user-select: none;
  -ms-user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
        outline:0;
        background-color:rgba(67, 6, 99, 0.4);
}
#errorl:hover{
	background-color:rgba(67, 6, 99, 0.6);
}
#passl,#loginl{
	font-size:38px;
	font-family: 'PT Sans', sans-serif;
	color:white;
	transition: ease 0.5s;
	
	user-select: none;
  -ms-user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
	font-weight: lighter;
	letter-spacing: 0.5px;
}
#loginl{
	position: absolute;
	top:220px;
	left:110px;
}
#passl{
	position: absolute;
	top:380px;
	left:110px;
}
.box{
	position: absolute;
	text-align:center;
	width: 150px;
	height: 50px;
	border: 2px solid white;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	border-bottom: 0;
	bottom: 0;
	right:50px;
	transition: ease 0.4s;
	background-color:rgba(67, 6, 99, 0.1);
	outline:0;
}
.box:hover{
	background-color:rgba(67, 6, 99, 0.5);
}
#remember_box{
	cursor: pointer;
	position: absolute;
	text-align:center;
	color:white;
	font-size:24px;
	font-family: 'Oswald', sans-serif;
	width: 150px;
	height: 50px;
	border: 2px solid white;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	background: transparent;
	border-bottom: 0;
	bottom: 0;
	right:250px;
	transition: ease 0.4s;
	outline:0;
	user-select: none;
	background-color: rgba(249, 66, 75, 0.9);
}
#register_lnk{
	text-decoration: none;
	color:white;
	font-size:26px;
	font-family: 'Oswald', sans-serif;
	border:none;
	user-select: none;
  -ms-user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
}